
#### .exports
export BASH_SILENCE_DEPRECATION_WARNING=1 # suppress the prompt to switch to zsh
export CLICOLOR=1 # enable the use of color in the bash when using ls (if defined, can use -G rather than --colors=auto)
export LSCOLORS=ExFxCxDxBxegedabagacad
export EDITOR='/usr/local/bin/mate' # set editor
export GIT_EDITOR='/usr/local/bin/code --wait --new-window'
export JULIA_EDITOR='/usr/local/bin/code'
export LESSEDIT='mate -l %lm %f'
export LESS_TERMCAP_md="${CYAN}"; # Highlight section titles in manual pages.
export MANPAGER='less -R --use-color -Ddg -Du+y' # -D sets colors, -Ddg sets bold text green, -Du+y sets underlined text bright yellow
# export MANPAGER='less -X'; # Don’t clear the screen after quitting a manual page.

# USER PATHS
export USER_DATA_PATH=${HOME}/work/data
export USER_PROJECT_PATH=${HOME}/work/projects
export USER_SOURCE_PATH=${HOME}/work/code
export USER_SCRIPTS_PATH=${HOME}/work/scripts
export USER_MATFUNCLIB_PATH=${HOME}/MATLAB/projects/matfunclib
export USER_PYFUNCLIB_PATH=${USER_PROJECT_PATH}/python/pyfunclib

export USER_GDRIVE_PATH="$HOME/guycooper@g.ucla.edu - Google Drive/My Drive"

# for gfortran, may not be necessary if gfortran is reinstalled
# export LIBRARY_PATH="$LIBRARY_PATH:/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib"

# see if this resolves octave errors
# export DYLD_LIBRARY_PATH="/usr/local/lib:$DYLD_LIBRARY_PATH"

#--------------------------------
#   CONFIGURE BREW
#--------------------------------
# export HOMEBREW_LOGS="/path/to/logs/folder" # just for reference, an option
export HOMEBREW_NO_AUTO_UPDATE=1 #

# I searched the brew doc's and there are no environment variables HOMEBREW_CC or HOMEBREW_CXX but issue brew --env and they are visible (clang/clang++)
# Dec 2024: did not activate these for migration to personal, see if clang will work moving forward.
# export HOMEBREW_CC=gcc-11
# export HOMEBREW_CXX=g++-11
export HOMEBREW_AUTO_UPDATE_SECS=604800	# autoupdate once a week (not every time).

#--------------------------------
#   CONFIGURE QGIS
#--------------------------------
export QGISPATH=/Applications/QGIS.app
	
# for using qgis outside of qgis:
# https://gis.stackexchange.com/questions/385395/using-pyqgis-functions-outside-qgis?noredirect=1&lq=1
# spcifically the links in tara's answer, esp. link 1 and 3

#--------------------------------
#   CONFIGURE MATLAB
#--------------------------------

export MATLAB_ROOT_PATH=/Applications/MATLAB_R2024b.app # matlabroot
# export MATLAB_EXEC_PATH=/Applications/MATLAB_R2024b.app/bin/matlab # executable, used by (unofficial) matlab vscode extension
export MATLAB_STARTUP_PATH=$HOME/Documents/MATLAB # for code runner -sd $MATLAB_STARTUP_PATH option

#--------------------------------
#   CONFIGURE JAVA
#--------------------------------
export JAVA_HOME="/usr/local/Cellar/openjdk/23.0.1/libexec/openjdk.jdk/Contents/Home"

#--------------------------------
#   CONFIGURE CONDA
#--------------------------------

# define this for conda hooks (not used by conda itself)
export CONDA_PROJECT_HOME=${USER_PROJECT_PATH}/conda
# export CONDA_PROJECT_PATH=${USER_PROJECT_PATH}/conda # init so the alias works

# this is in condarc but that may not get sourced by vscode or others, so put it here too
# putting it here fixed the problem where conda deactivate never deactivated base
export CONDA_AUTO_ACTIVATE_BASE=false

#--------------------------------
# 	PYTHONPATH, etc.
#--------------------------------

# Add pyfunclib to python path
# if [[ ":$PYTHONPATH:" != *":${USER_PROJECT_PATH}/python/pyfunclib:"* ]]; then
#     export PYTHONPATH="${USER_PROJECT_PATH}/python/pyfunclib:${PYTHONPATH}"
# fi

# Add pyflowline to python path
# if [[ ":$PYTHONPATH:" != *":${USER_PROJECT_PATH}/python/pyflowline:"* ]]; then
#     export PYTHONPATH="${USER_PROJECT_PATH}/python/pyflowline:${PYTHONPATH}"
# fi

# # expose pyfunclib
# export PYTHONPATH=${USER_PROJECT_PATH}/python/pyfunclib
# export PYTHONPATH=${USER_PROJECT_PATH}/python/pyflowline:${PYTHONPATH}

# i think i added this when building pyflowline from source
# export PYTHONPATH=${WORKON_HOME}/pyflowline/lib/python3.9/site-packages:${PYTHONPATH}
# see .extra for tool-specific exports/configuration

#--------------------------------
#   CONFIGURE R
#--------------------------------

# multiple R versions can be installed side-by-side. these are options to choose one.

# tell radian (and vscode?) where r is. only R_HOME is required. R_BINARY is here for reference.
export R_HOME=/Library/Frameworks/R.framework/Resources # R.home() in the R gui
# export R_BINARY=/Library/Frameworks/R.framework/Resources/bin # R.home('bin') in the R gui

# tell Rstudio which R to use. not sure if Rstudio uses /usr/local/Cellar/r or /Library/Frameworks/R.framework/Resources/R
# export RSTUDIO_WHICH_R=/usr/local/Cellar/r

# for cli, alias radian to use a particular r binary:
# alias radian='radian --r-binary=/path/to/R'

#--------------------------------
#   bash-completion (see bash_profile for sourcing them)
#--------------------------------
export BASH_COMPLETION_COMPAT_DIR="/usr/local/etc/bash_completion.d"

#----------------------------------------------------------------------------------
# for z package
# . /usr/local/etc/profile.d/z.sh
#----------------------------------------------------------------------------------

