[core]
	excludesfile = /Users/mattcooper/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[hub]
	protocol = https
[user]
	name = mguycooper
	email = mguycooper@gmail.com
[credential]
	helper = store
