# shellcheck shell=bash

# up and down arrow searching through history
"\e[A": history-search-backward
"\e[B": history-search-forward

set completion-ignore-case On

# ----------------------------------
# these were defined in my compy shell
# might explain why cmd-backspace doesn't delete the entire line on compy
# left and right arrow go left and right
# "\e[C": forward-char
# "\e[D": backward-char

# tab and shift+tab cycle through all possible tab-completions
# "\t": menu-complete
# "\e[Z": menu-complete-backward
# ----------------------------------